$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

h1 {
text-align: center;
}


.authentication {
height: 100px;
float:right;
font-size: 10px
}

.gameStats{
  margin-top: 10px;
}

#message {
   text-align: center;
   color: green;
   font-size: 35px
 }

// .hidden{
//   visibility: hidden;
// }

.avoid-clicks {
  pointer-events: none;
}


.legend {
  font-size: 10px
}

.square {
  height: 150px;
  width: 150px;
  border: 2px solid #000;
}

.winBanner {
  display: none;
  font-size: 35px;
}

.passwordChangeBanner {
  display: none;
  font-size: 35px
}

.drawBanner {
  display: none;
  font-size: 35px;
}


.board {
margin: 100px auto;
background-color:#d2e1dd;
padding: 20px 20px 9px;
float: left;
line-height: 36px;
text-align: center;
font-size: 35px;
$color-text: #036;
letter-spacing: 1px;
// display: none
}

@media (max-width: 300px) {
    header {
      width: 80%;
   }
}
