h1 {
text-align: center;
}

.authentication {
height: 100px;
float:right;
font-size: 10px
}

.legend {
  font-size: 10px
}

.square {
  height: 150px;
  width: 150px;
  border: 2px solid #000;
}

.winBanner {
  display: none;
  font-size: 35px;
}

.board {
float: left;
}
